body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #c72020;
    color: #fff;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label,
  input,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  